.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Dropdown menu styling */
.group-hover\:opacity-100 {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.dropdown-menu {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(10px);
}

.group:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-menu a:hover {
    background-color: #f3f4f6;
}
