<div class="max-w-lg mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div class="p-8">
        <h1 class="text-2xl font-bold text-gray-900 mb-4">Hello <span class="text-brown-600"><%= name %> created NEW Manga!!!</span>,</h1>
        <p class="text-gray-700 mb-4">We are excited to inform you about the latest manga releases. Check out the new titles below:</p>
        <ul class="list-disc list-inside text-gray-700">
                <li class="mb-2"><strong><%= manga.title %></strong> by <%= manga.author %></li>
        </ul>
        <p class="text-gray-700 mt-4">Happy reading!</p>
        <p class="text-gray-700">Best regards,</p>
        <p class="text-gray-700">The Manga Team</p>
    </div>
</div>